<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <header>
    <nav id="mainNav" class="btn-group d-flex" role="tablist">
      <button class="btn btn-dark rounded-0" id="bandcamp-tab" data-bs-toggle="tab" data-bs-target="#bandcamp" role="tab" aria-controls="bandcamp" aria-selected="false" type="button" title="Bandcamp">
        <b2d-icon name="view-list"></b2d-icon>
      </button>
      <button class="btn btn-dark rounded-0" id="release-card-tab" data-bs-toggle="tab" data-bs-target="#release-card" role="tab" aria-controls="release-card" aria-selected="false" type="button" title="Release card preview">
        <b2d-icon name="card-text"></b2d-icon>
      </button>
      <button class="btn btn-dark rounded-0" id="releases-tab" data-bs-toggle="tab" data-bs-target="#releases" role="tab" aria-controls="releases" aria-selected="false" type="button" title="Releases list">
        <b2d-icon name="card-list"></b2d-icon>
      </button>
      <button class="btn btn-dark rounded-0 visually-hidden" id="csvData-tab" data-bs-toggle="tab" data-bs-target="#csvData" role="tab" aria-controls="csvData" aria-selected="false" type="button" title="Preview Discogs CSV data">
        <b2d-icon name="table"></b2d-icon>
      </button>
      <button class="btn btn-dark rounded-0" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" role="tab" aria-controls="history" aria-selected="false" type="button" title="History">
        <b2d-icon name="clock-history"></b2d-icon>
      </button>
      <button class="btn btn-dark rounded-0" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" role="tab" aria-controls="about" aria-selected="false" type="button" title="About the extension">
        <b2d-icon name="question-square"></b2d-icon>
      </button>
    </nav>
  </header>
  <div id="mainContainer" class="container-fluid p-0 overflow-auto bg-image">

    <div class="tab-content">
      <!-- Bandcamp -->
      <div class="tab-pane fade content-text" id="bandcamp" role="tabpanel" aria-labelledby="bandcamp-tab" tabindex="0">
        <%= tabContentBandcamp %>
      </div>
      <!-- Release card -->
      <div class="tab-pane fade overflow-hidden" id="release-card" role="tabpanel" aria-labelledby="release-card-tab" tabindex="0">
        <%= tabContentReleaseCard %>
      </div>
      <!-- Releases -->
      <div class="tab-pane fade" id="releases" role="tabpanel" aria-labelledby="releases-tab" tabindex="0">
        <%= tabContentReleases %>
      </div>
      <!-- CSV data -->
      <div class="tab-pane fade small content-text" id="csvData" role="tabpanel" aria-labelledby="csvData-tab" tabindex="0"></div>
      <!-- History data -->
      <div class="tab-pane fade small" id="history" role="tabpanel" aria-labelledby="history-tab" tabindex="0">
        <%= tabContentHistory %>
      </div>
      <!-- About -->
      <div class="tab-pane fade content-text" id="about" role="tabpanel" aria-labelledby="about-tab" tabindex="0">
        <%= tabContentAbout %>
      </div>
    </div>
  </div>
  <footer id="mainFooter" class="small">
    <div class="badges-status">
      <span class="badge bg-dark version" title="Current version"></span>
      <span class="badge bg-dark storage-size" title="Storage size"></span>
      <span class="badge bg-dark" id="selectedStatusInfo" data-format="Selected: {selected}/{filtered}"></span>
      <span class="badge bg-dark" id="viewedStatusInfo" data-format="Viewed: {filtered}/{total}"></span>
    </div>
  </footer>
<% templates.forEach(function(template) { %>
<%= template %>
<% }); %>
</body>
</html>
